h1 {
    font: 20px sans-serif;
}

body {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.y.axis path {
    stroke: none;
}

.dot {
    stroke: none;
    opacity: .5;
}

.dot:hover {;
    stroke: #000;
    stroke-width: 2;
    transition: .1s;
}

.tooltip {
    background: rgba(255,255,255,.95);
    padding: 5px;
    font: 12px sans-serif;
}

.bar {
  fill: #b00;
  opacity: .75;
  stroke-width: 0;
}

.bar:hover {
  fill: #b00;
/*  stroke-width: 2;*/
  stroke: #000;
  transition: 1s;
  opacity: 1;
}

.trackingAxis path {
    display: none;
}

#button2{
    position:absolute;
    top: 55px;
    left: 57px;
}

#button1{
    position:absolute;
    top: 55px;
    left: 12px;
}

.desc {
    font: 14px sans-serif;
    position: absolute;
    top: 100px;
    left: 100px;
}