h1 {
    font: 20px sans-serif;
}

body {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.dot {
    stroke: none;
    opacity: .75;
}

.dot:hover {;
    stroke: #000;
    stroke-width: 2;
    transition: .1s;
}